.flex-container-header {
    display: flex;
    height: 70px; 
    padding: 8px;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 2px solid #FF3E1D;
}

.header-left p {
    margin: 0;
}

.header-right i {
    font-size: 14px;
}

@media screen and (min-width: 768px){
    .header-right i {
        font-size: 20px;
    }
}

@media screen and (min-width: 1024px){
    .header-right i {
        font-size: 32px;
    }
}