#intro {
    overflow: hidden;
    border-bottom: 2px solid #000;
}

#intro h3 {
    text-decoration-line: none;
}

.flex-container-intro {
    display: flex;
    flex-direction: column;
    padding: 35px 8px 35px 8px;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
}

.intro-right {
    display: flex;
    justify-content: center;
    flex: 1 1 45%;
}

.intro-right img{
    max-width: 100%;
}

.intro-left > *{
    padding-bottom: 15px;
}

/* VER COMO CENTRAR EL BOTON EN VISTA MOBILE */

.intro-button { 
    display: flex;
    justify-content: left;
    padding-left: 8px;
    padding-bottom: 35px;
}

.flex-container-uses {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 35px 8px 35px 8px;
}

#uses {
    padding: 0px 8px 0px 8px;
    border-bottom: 2px solid #000;
}

.uses-item { 
    display: flex;
    flex: 1 1 45%;
    align-items: center;
}

.uses-img {
    width: 30%;
    padding-right: 10px;
}

.full-size {
    max-width: 100%;
}

.uses-text {
    width: 70%;
    text-align: justify;
}

.flex-container-features {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    /* padding: 35px 8px 35px 8px; */
}

#features {
    /* padding-bottom: 18.72px; */
    padding: 0px 8px 0px 8px;
    border-bottom: 2px solid #000;
}

.features-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 45%;
    border: 1px solid #000;
}

.features-img {
    border: 1px solid #000;
}

.full-size-features {
    max-width: 100%;
}

.features-text {
    text-align: justify; /*ME CONVIENE AGRUPAR TODOS LOS TEXT ALIGN EN UN SOLO ELEMENTO?*/
    border: 1px solid #000;
}

#form {
    border-bottom: 2px solid #000;
    padding: 0px 8px 0px 8px;
}

.flex-container-form {
    padding: 35px 0 35px 0;
    margin: 0px 35px 0 35px;
}

.flex-container-form-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form-left {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.form-right {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.form-left input {
    width: 90%;
    height: 30px;
}

.flex-container-form-bott {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-container-form-footer {
    display: flex;
    width: 100%;
}

.radio {
    display: block;
}

#history {
    padding: 0px 8px 0px 8px;
    border-bottom: 2px solid #000;
}

.flex-container-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.flex-container-history-par1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-container-history-par2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-container-history-par2-a, .flex-container-history-par2-b  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#various {
    border-bottom: 2px solid #000;
}

.flex-container-various {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.gen-links {
    text-align: center;
}
