#intro {
    border-bottom: 2px solid #000;
}

.title h1 {
    margin: 0;
}

#intro h3 {
    text-decoration-line: none;
}

.flex-container-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 35px 8px 35px 8px;
}

.intro-left {
    text-align: center;
}

.intro-left > *{
    padding-bottom: 15px;
}

.intro-right {
    display: flex;
    justify-content: center;
    flex: 1 1 45%;
}

.intro-right img{
    max-width: 100%;
}

.intro-button { 
    display: flex;
    justify-content: center;
    padding-left: 8px;
    padding-bottom: 35px;
}

#uses {
    padding: 0px 8px 0px 8px;
    border-bottom: 2px solid #000;
}

#uses h2 {
    text-align: center;
}

.flex-container-uses {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 8px 12.450px 8px;
}

.uses-item { 
    display: flex;
    align-items: center;
    flex: 1 1 45%;
}

.uses-img {
    width: 30%;
    padding-right: 10px;
}

.full-size {
    max-width: 100%;
}

.uses-text {
    width: 70%;
    text-align: justify;
}

#features {
    padding: 0px 8px 0px 8px;
    border-bottom: 2px solid #000;
}

#features h2 {
    text-align: center;
}

.flex-container-features {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 8px 12.450px 8px;
}

.features-item {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    flex: 1 1 45%;
    /* border: 1px solid #000; */
}

.full-size-features {
    max-width: 100%;
}

.features-text {
    text-align: justify; /*ME CONVIENE AGRUPAR TODOS LOS TEXT ALIGN EN UN SOLO ELEMENTO?*/
}

#form {
    padding: 0px 8px 0px 8px;
    border-bottom: 2px solid #000;
}

#form h2 {
    text-align: center;
}

.flex-container-form {
    padding: 0px 35px 12.450px 35px;
}

.flex-container-form-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form-left {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-left input {
    width: 100%;
    height: 30px;
}

.form-right {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.radio {
    display: flex;
    padding: 3px 0 3px 0;
}

.flex-container-form-bott {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-container-form-footer {
    display: flex;
    justify-content: center;
    width: 100%;
}

#submit {
    background-color: #AACE9B;
}

#reset {
    background-color: #FF5349;
}

#submit, #reset {
    padding: 5px 10px;
    margin: 8px 4px;
    color: #373867;
    border-radius: 4px;
    font-size: 12px;
}

#history {
    padding: 0px 8px 0px 8px;
    border-bottom: 2px solid #000;
}

#history h2 {
    text-align: center;
}

.flex-container-history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 8px 12.450px 8px;
    text-align: justify;
}

.flex-container-history-par1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-container-history-par2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-container-history-par2-a, .flex-container-history-par2-b  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#various {
    border-bottom: 2px solid #000;
}

.flex-container-various {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.gen-links {
    text-align: center;
}

@media screen and (min-width: 768px){
    #uses h2,
    #features h2,
    #form h2,
    #history h2 {
        text-align: left;
    }
    .form-left {
        width: 60%;
    }
    .form-left input {
        width: 90%;
    }
    .flex-container-intro, 
    .flex-container-uses, 
    .flex-container-features, 
    .flex-container-form-top, 
    .flex-container-history-par2-a,
    .flex-container-various {
        flex-direction: row;
    }
    .flex-container-form-footer {
        justify-content: left;
    }
    .flex-container-history-par2-b {
        flex-direction: row-reverse;
    }
}
