aside {
    display: none;
    flex-direction: column;
    /* float: left;
    position: fixed; */
    /* width: 25%; */
    height: 900px;
    background-color: #AACE9B;
}
/*Desktop*/
aside nav {
    /* display: inline-block; */
    /* margin-left: 15px; */
    padding-bottom: 30px;
    border-bottom: 1px solid #000;
    /* border: 1px solid #000; */
}
/*Desktop*/
aside ul {
    /* width: 330px; */
    padding: 0;
    list-style: none;
}

.flex-container-navlinks ul{
    /* padding: 0;
    list-style: none; */
    display: flex;
    flex-direction: column;
}
/*Desktop*/
aside li:not(:last-child) {
    border-bottom: 1px solid #000; 
    margin-bottom: 10px;
    padding-bottom: 10px;
}
/*Desktop*/
aside a {
    /* display: inline-block; */
    text-decoration: none;
}
/*Desktop*/
aside div {
    padding: 15px;
}
/* #test {
    border: 1px solid #000;
} */
/*Desktop*/
aside div p {
    padding-bottom: 20px;
}