aside {
    display: none;
    flex-direction: column;
    height: 900px;
    background-color: #AACE9B;
}

aside nav {
    padding-bottom: 30px;
    border-bottom: 1px solid #000;
}

aside ul {
    padding: 0;
    list-style: none;
}

.flex-container-navlinks ul{
    display: flex;
    flex-direction: column;
}

aside li:not(:last-child) { 
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

aside div {
    padding: 15px;
}

aside div p {
    padding-bottom: 20px;
}

aside a {
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    aside {
        display: flex;
    }
}