<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" type="text/css" href="../styles/sidebar.css">
        <link rel="stylesheet" type="text/css" href="../styles/header.css">
        <link rel="stylesheet" type="text/css" href="../styles/footer.css">
        <link rel="stylesheet" type="text/css" href="../styles/landing.css">
        <link rel="stylesheet" type="text/css" href="../styles/styles.css">
        <link rel="stylesheet" type="text/css" href="../styles/sign-up.css">
        <script src="../javascript/sign-up.js"></script>
        <title>Trackgenix: Sign-Up</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/all.min.css">
    </head>
    <body>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <span class="modal-text-span">Modal Header</span>
                </div>
                <div class="modal-body">
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="left-side">
                <aside>
                    <div>
                        <nav>
                            <h2>Menu</h2>
                            <div class="flex-container-navlinks">
                                <ul>
                                    <li>
                                        <a href="./landing.html">Home</a>
                                    </li>
                                    <li>
                                        <a href="#">SignUp</a>
                                    </li>
                                    <li>
                                        <a href="./login.html">Login</a>
                                    </li>
                                    <li>
                                        <a href="#">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div>
                        <h2>Get in touch</h2>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum quidem harum minus doloribus voluptatum ea ad? Inventore
                            aut porro, magni at cumque sapiente pariatur placeat eum blanditiis voluptate quo similique.
                        </p>
                        <div>
                            <ul>
                                <li>
                                    <i class="fa-regular fa-envelope"></i> infotrackgenix@something.idk 
                                </li>
                                <li>
                                    <i class="fa-solid fa-house"></i> 1234 Somewhere Road #8254 Nashville, TN 00000-0000
                                </li>
                                <li>
                                    <i class="fa-solid fa-phone"></i> (000) 000-0000 
                                </li>
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="right-side">
                <header>
                    <div class="head flex-container-header">
                        <div class="header-left">
                            <p>
                                <span>Trackgenix</span> by GigaTech Software Solutions SA
                            </p>
                        </div>
                        <div class="header-right">
                            <a href="https://www.facebook.com/">
                                <i class="fa-brands fa-facebook fa-2xl"></i>
                            </a>
                            <a href="https://www.instagram.com/">
                                <i class="fa-brands fa-instagram fa-2xl"></i>
                            </a>
                            <a href="https://twitter.com/?lang=en">
                                <i class="fa-brands fa-twitter fa-2xl"></i>
                            </a>
                            <a href="https://github.com/">
                                <i class="fa-brands fa-github fa-2xl"></i>
                            </a>
                            <a href="https://www.linkedin.com/">
                                <i class="fa-brands fa-linkedin fa-2xl"></i>
                            </a>
                        </div>
                    </div>
                </header>
                <main>
                    <div class="title-flex">
                        <h2>Sign Up</h2>
                    </div> 
                    <form>
                        <div>
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name">
                            <span id="nameError"></span>

                            <label for="surname">Surname</label>
                            <input type="text" name="surname" id="surname">
                            <span id="surnameError"></span>

                            <label for="dni">DNI</label>
                            <input type="text" name="dni" id="dni">
                            <span id="dniError"></span>
                            
                            <label for="birthDate">Date of Birth</label>
                            <input type="date" name="birthDate" id="birthDate">
                            <span id="birthDateError"></span>
                            
                            <label for="phoneNumber">Phone Number</label>
                            <input type="text" name="phoneNumber" id="phoneNumber">
                            <span id="phoneError"></span>

                            <label for="address">Address</label>
                            <input type="text" name="address" id="address">
                            <span id="addressError"></span>
                        </div>

                        <div>
                            <label for="location">Location</label>
                            <input type="text" name="location" id="location">
                            <span id="locationError"></span>

                            <label for="zipCode">ZIP Code</label>
                            <input type="text" name="zipCode" id="zipCode">
                            <span id="zipCodeError"></span>

                            <label for="email">Email</label>
                            <input type="text" name="email" id="email">
                            <span id="emailError"></span>

                            <label for="password">Password</label>
                            <input type="password" name="password" id="password">
                            <span id="passwordError"></span>

                            <label for="repeatPassword">Repeat Password</label>
                            <input type="password" name="repeatPassword" id="repeatPassword">
                            <span id="passwordRepeatError"></span>

                            <input type="submit" name="create" value="Create" id="create">
                        </div>
                    </form>
                </main>
                <footer>
                    <div class="flex-container-footer">
                        <div class="footer-socials">
                            <a href="https://www.facebook.com/">
                                <i class="fa-brands fa-facebook fa-2xl"></i>
                            </a>
                            <a href="https://www.instagram.com/">
                                <i class="fa-brands fa-instagram fa-2xl"></i>
                            </a>
                            <a href="https://twitter.com/?lang=en">
                                <i class="fa-brands fa-twitter fa-2xl"></i>
                            </a>
                            <a href="https://github.com/">
                                <i class="fa-brands fa-github fa-2xl"></i>
                            </a>
                            <a href="https://www.linkedin.com/">
                                <i class="fa-brands fa-linkedin fa-2xl"></i>
                            </a>
                        </div>
                        <div class="footer-copyright">
                            <span>Copyright &copy; 2022 GigaTech Software Solutions SA. All rights reserved.</span>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>